.poor{
    background-color: lightgoldenrodyellow;
    color:red;
    font-size: 16px;
    border:1px solid red;
    border-radius: 7px;
}
.good{
    background-color: darkslategrey;
    color: #fff;
    font-size: 20px;
    border: 3px solid rgb(245, 216, 216);
    border-radius: 7px;
    text-align: center;
    font-weight: bold;
}
.exam{
    background-color: rgb(238, 227, 227);
    width: 980px;
    border-radius: 3px solid grey;
    text-align: left;
    background-position: center;
}
.head{
    text-align: center;
    color: indigo;
    font-weight: bold;
}
.formatTimeLeft{
    position: relative;
    height: 30px;
    width: 200px;
}
.formatTimeLeft_circle{
    fill: none;
    stroke: none;
}
.formatTimeLeft_path-elapsed{
    stroke-width: 7px;
    stroke: grey;
}